html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#game-container{
  display: grid;
  place-items: center;
}

.overlay{
  user-select: none;
  position: absolute;
}

#pointer{
  font-size: 100px;
}