html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

datalist {
  display: flex;
}

.game-ui {
  background-color: #2e2e2eec;
  color: white;
  /* backdrop-filter: blur(40px) saturate(0.5); */
}

#game-ui-container {
  position: absolute;
  /* right: 0; */
  /* height: 100%; */
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}